---
import { Icon } from 'astro-icon/components';

type Props = {
	href: string;
	icon: string;
	label: string;
	brand: 'li' | 'gh';
	iconId?: string;
};

const { href, icon, label, brand, iconId } = Astro.props as Props;
---

<a class="mb-social-link mb-tile-surface" data-brand={brand} href={href} aria-label={label}>
	<span class="mb-social-brand-icon" aria-hidden="true">
		<Icon name={icon} id={iconId} />
	</span>
	<span class="mb-social-label">{label}</span>
</a>

<style>
	.mb-social-link {
		--mb-tile-radial-x: 0%;
		--mb-tile-radial-y: 0%;
		--mb-tile-icon-size: 48px;
		--mb-tile-linear-dir: bottom right;
		--mb-tile-linear-start: var(--main-950);
		--mb-tile-linear-end: #1e1b4b64;

		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		.mb-social-label {
			font-family: 'Inter', sans-serif;
			font-size: 10px;
			letter-spacing: 0.15em;
			color: var(--neutral-400);
		}
		svg {
			height: var(--mb-tile-icon-size);
			width: var(--mb-tile-icon-size);
			color: var(--neutral-300);
		}
		&[data-brand='li'] {
			--mb-tile-radial-x: 100%;
			--mb-tile-linear-dir: bottom left;
			/* --mb-tile-linear-start: hsl(210, 60%, 25%, 0.8);
			--mb-tile-linear-end: hsla(210, 59%, 30%, 0.15); */
		}
		&[data-brand='gh'] {
			/* --mb-tile-linear-start: hsl(131, 45%, 25%, 0.6);
			--mb-tile-linear-end: hsla(132, 45%, 25%, 0.15); */
		}
	}
	@media screen and (max-width: 1280px) {
		.mb-social-link {
			display: flex;
		}
	}
</style>
