---
type Props = {
	company: string;
	start: string;
	end: string;
	title: string;
	description: string;
	link?: string;
	icon?: string;
};

const { start, end, title, company, description, link, icon } = Astro.props;
---

<a class="tl-block" href={link} target={link ? '_blank' : undefined} rel={link ? 'noreferrer' : undefined}>
	<div class="tl-left">
		{start} – {end}
	</div>
	<div class="tl-right">
		<div class="tl-company">
			<b>{title}</b>
			<span class="tl-spacer">■</span>
			{company}
			<span class="tl-icon">{icon}</span>
		</div>

		<div class="tl-description">{description}</div>
	</div>
</a>

<style>
	.tl-block {
		height: calc(var(--block-size) * 3);
		font-family: 'Inter', sans-serif;
		display: flex;
		gap: 3rem;
		position: relative;
		z-index: 130;
		padding: 1.5rem 1.5rem 0rem 1rem;
		transition: all 0.25s;

		.tl-left,
		b,
		.tl-company {
			transition: all 0.5s;
		}

		&.is-distorting {
			will-change: filter;
		}

		&:hover {
			.tl-description {
				color: var(--main-200);
			}
			.tl-left {
				color: var(--main-200);
			}
			b,
			.tl-company {
				color: var(--main-100);
			}
		}
	}
	.tl-left {
		color: var(--neutral-400);
		font-family: monospace;
		letter-spacing: 0.15rem;
		width: calc(var(--block-size) * 2);
		flex-shrink: 0;
		padding-top: 4px;
		transition: all 0.15s;
		text-wrap: nowrap;
	}
	.tl-right {
		display: flex;
		flex-direction: column;
		font-size: 18px;

		.tl-company {
			font-size: 18px;
			display: flex;
			gap: 0.5rem;
			color: var(--neutral-300);

			.tl-icon {
				margin-left: 0.25rem;
			}
		}
		.tl-spacer {
			margin: 0 6px;
		}
		.tl-description {
			margin-top: 0.5rem;
			font-size: 15px;
			color: var(--neutral-400);
			line-height: 28px;
			transition: all 0.15s;
		}
	}
</style>
