---
import { Icon } from 'astro-icon/components';

type Props = {
	href: string;
	icon: string;
	label: string;
	target?: '_blank' | '_self' | '_parent' | '_top';
	rel?: string;
};

const { href, icon, label, target = '_blank', rel = 'noreferrer' } = Astro.props as Props;
---

<a class="social-link" href={href} target={target} rel={rel} aria-label={label}>
	<div class="social-link-icon-container">
		<Icon name={icon} />
	</div>
	<div class="social-link-text-container">
		<span class="social-label">{label}</span>
	</div>
</a>

<style>
	.social-link {
		/* border: 1px solid var(--bg-block-grid-line-color); */
		width: calc(3 * var(--block-size));
		height: var(--block-size);
		display: flex;
		align-items: center;
		color: var(--slate-400);
		transition: color 0.25s ease;
	}
	.social-link-icon-container {
		height: 100%;
		flex-basis: var(--block-size);
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			height: 3rem;
			width: 3rem;
			color: currentColor;
			transition: color 0.25s ease;
			flex-shrink: 0;
		}
	}
	.social-link-text-container {
		display: flex;
		align-items: center;
		padding-left: 0.5rem;
		font-family: 'Inter', sans-serif;
		font-size: 16px;
		letter-spacing: 0.15rem;
		/* font-weight: 600; */
	}
</style>
