---
type Props = {
	company: string;
	start: string;
	end: string;
	title: string;
	description: string;
	link?: string;
	icon?: string;
	id?: string;
};

const { start, end, id, title, company, description, link, icon } = Astro.props;
---

<div id={id} class="mobile-tl-block screen" data-mobile-nav-label="experience">
	<span class="mb-tl-block-header company">{company}</span>
	<span class="mb-tl-block-header title">{title}</span>
	<span class="mb-tl-block-header time">{start} - {end}</span>
	<p class="mobile-tl-desc blurb">{description}</p>
	{
		id !== 'gb' && (
			<a href={link} class="mb-tl-link">
				{link}
				<span class="link-symbol">⇱</span>
			</a>
		)
	}
</div>

<style>
	.mobile.tl {
		display: none;
	}
	@media screen and (max-width: 1280px) {
		.mobile-tl-block {
			display: flex;
			flex-direction: column;
			display: flex !important;
			margin: 0 !important;
			margin-left: var(--block-size) !important;
			justify-content: center;
			width: 100%;

			/* border: 1px solid orangered; */

			.mb-tl-link {
				text-decoration: underline !important;
				font-family: 'Inter', sans-serif;
				font-size: 16px;
				position: relative;
				width: max-content;
				color: var(--main-500);

				.link-symbol {
					rotate: 90deg;
					position: absolute;
					right: -1.35rem;
					font-size: 22px;
					bottom: -4px;
				}
			}
			.mb-tl-block-header {
				letter-spacing: 0.2rem;
				margin: 0.2rem 0;
				padding: 0.35rem;
				margin-left: -0.35rem;
				width: max-content;
				font-size: 18px;

				&.company {
					background: var(--main-900);
				}
				&.title {
					/* background: var(--main-900); */
				}
				&.time {
					font-size: 12px;
					color: var(--neutral-400);
					margin-top: 0;
				}
			}
			.mobile-tl-desc {
				padding: 0;
				max-width: min(420px, 80vw);
			}
		}
	}
</style>
